---
import ServiceCard from './ServiceCard.astro';
import { services } from '../../data/services.js';
---

<section class="service" id="services">
  <h1>Provided Services ☑️</h1>
  <div class="cards">
    {services.map((service) => (
      <ServiceCard {...service} />
    ))}
  </div>
</section>