---
import TechIcon from '../UI/TechIcon.astro';

export interface Props {
  title: string;
  technologies: Array<{
    name: string;
    src: string;
  }>;
  isWide?: boolean;
}

const { title, technologies, isWide = false } = Astro.props;
---

<div class={`card ${isWide ? 'card-wide' : ''}`}>
  <img src="/img/code_logo.png" alt="Code Logo" />
  <div class="content">
    <h2>{title}</h2>
    {title === "DevOps" ? (
      <div class="icon-container">
        {technologies.map((tech) => (
          <TechIcon {...tech} />
        ))}
      </div>
    ) : (
      <>
        {technologies.map((tech) => (
          <TechIcon {...tech} />
        ))}
      </>
    )}
  </div>
</div>