---
// Hero section component
---

<div class="container" id="about">
  <div class="hero">
    <div class="content">
      <h1>Crafting Digital Experiences That Inspire and Innovate</h1>
      <p>
        Hi, I'm Yosri Mlik. A Full-Stack Developer specializing in web and
        mobile applications. <br />I turn ideas into seamless, user-friendly
        solutions that make an impact.
      </p>
      <button onclick="openContactModal()">
        Say Hello <i class="fa fa-arrow-right"></i>
      </button>
    </div>
    <div class="hero-image">
      <!-- Hero image placeholder -->
    </div>
  </div>
</div>