/* Header Styles */
.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.header.scrolled {
  background: rgba(220, 250, 255, 0.65) !important;
  backdrop-filter: blur(15px) !important;
  -webkit-backdrop-filter: blur(15px) !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.header .logo,
.header button {
  flex: 0 0 auto;
}

.logo img {
  width: 10rem;
  height: 2.5rem;
}

/* Navigation Menu Styles */
.header ul.nav-menu {
  position: static;
  transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header ul.nav-menu li {
  margin: 0 25px;
}

.header ul.nav-menu li a {
  color: #1c1c1c;
  text-decoration: none;
  position: relative;
}

.header ul.nav-menu li a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1c1c1c;
  transition: 0.6s;
}

.header ul.nav-menu li a:hover::after {
  width: 100%;
}

/* Hamburger Menu Icon */
.header .fa-bars {
  font-size: 1.3rem;
  color: #fff;
  background-color: #1c1c1c;
  padding: 12px;
  border-radius: 3px;
  transition: .6s;
  border: 2px solid #1c1c1c;
  display: none;
}

.header .fa-bars:hover {
  color: #1c1c1c;
  background-color: #fff;
}

/* Media Queries */
@media (max-width: 1100px) {
  .header ul.nav-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    flex-direction: column;
    opacity: 0;
    background-color: rgba(220, 250, 255, 0.99) !important;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .header ul.nav-menu.show {
    opacity: 1;
    pointer-events: auto;
  }

  .header ul.nav-menu li {
    margin: 10px 0;
    padding: 10px;
    text-align: center;
  }

  .header .fa-bars {
    display: block;
  }

  .header ul.nav-menu li:last-child {
    border: none;
  }
}

@media (max-width: 500px) {
  .header .logo img {
    width: 110px;
    height: 27.5px;
  }
}